<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8.68382 24C5.1119 23.9794 2.15727 16.6879 2.15727 12.9745C2.15727 6.90873 6.70766 5.58077 8.46135 5.58077C9.25166 5.58077 10.0956 5.89112 10.8399 6.16577C11.3604 6.35734 11.8987 6.55511 12.1981 6.55511C12.3773 6.55511 12.7996 6.38688 13.1724 6.23927C13.9676 5.92272 14.957 5.5293 16.1092 5.5293C16.1113 5.5293 16.114 5.5293 16.116 5.5293C16.9764 5.5293 19.585 5.71811 21.1533 8.0733L21.5206 8.62534L20.9919 9.0243C20.2366 9.5942 18.8585 10.6338 18.8585 12.6931C18.8585 15.132 20.4193 16.07 21.1691 16.5211C21.5001 16.7202 21.8427 16.9255 21.8427 17.3746C21.8427 17.6678 19.5026 23.9636 16.1044 23.9636C15.2728 23.9636 14.6851 23.7137 14.1666 23.4933C13.6421 23.2701 13.1895 23.0779 12.4418 23.0779C12.0628 23.0779 11.5835 23.2571 11.076 23.4473C10.3826 23.7061 9.59774 24 8.70716 24H8.68382Z"
      fill="#05272E"
    />
    <path
      d="M16.4692 0C16.5577 3.19106 14.2756 5.40488 11.9961 5.26603C11.6205 2.71945 14.2753 0 16.4692 0Z"
      fill="#05272E"
    />
  </svg>
</template>

<script>
export default {}
</script>

<style></style>
