<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M15.0378 6.34326L13.6269 7.76078L16.8972 11.0157L3.29211 11.0294L3.29413 13.0294L16.8619 13.0158L13.6467 16.246L15.0643 17.6569L20.7079 11.9869L15.0378 6.34326Z"
      fill="#05272E"
    />
  </svg>
</template>

<script>
export default {}
</script>

<style></style>
