<template>
  <svg
    width="16"
    height="15"
    viewBox="0 0 16 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    :style="{ '--activeColor': `${activeColor}` }"
  >
    <circle
      cx="8"
      cy="7.5"
      r="7.5"
      :fill="color"
      :class="{ isActive: active }"
    />
  </svg>
</template>

<script>
export default {
  props: {
    color: { type: String, default: '#6DD9ED' },
    activeColor: { type: String, default: '#1595ad' },
    active: { type: Boolean, default: false },
  },
}
</script>

<style lang="scss">
.isActive {
  fill: var(--activeColor);
}
</style>
