<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 3.5C7.313 3.5 3.5 7.313 3.5 12C3.5 16.687 7.313 20.5 12 20.5C16.687 20.5 20.5 16.687 20.5 12C20.5 7.313 16.687 3.5 12 3.5ZM12 22C6.486 22 2 17.514 2 12C2 6.486 6.486 2 12 2C17.514 2 22 6.486 22 12C22 17.514 17.514 22 12 22Z"
      fill="#05272E"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15.4312 15.6925C15.3002 15.6925 15.1682 15.6585 15.0472 15.5875L11.2772 13.3385C11.0512 13.2025 10.9112 12.9575 10.9112 12.6935V7.84546C10.9112 7.43146 11.2472 7.09546 11.6612 7.09546C12.0762 7.09546 12.4112 7.43146 12.4112 7.84546V12.2675L15.8162 14.2975C16.1712 14.5105 16.2882 14.9705 16.0762 15.3265C15.9352 15.5615 15.6862 15.6925 15.4312 15.6925Z"
      fill="#05272E"
    />
  </svg>
</template>

<script>
export default {}
</script>

<style></style>
