<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6.22526 4.81096C5.83474 4.42044 5.20158 4.42044 4.81105 4.81096C4.42053 5.20148 4.42053 5.83465 4.81105 6.22517L10.5858 11.9999L4.81111 17.7746C4.42059 18.1651 4.42059 18.7983 4.81111 19.1888C5.20164 19.5793 5.8348 19.5793 6.22532 19.1888L12 13.4141L17.7747 19.1888C18.1652 19.5793 18.7984 19.5793 19.1889 19.1888C19.5794 18.7983 19.5794 18.1651 19.1889 17.7746L13.4142 11.9999L19.1889 6.22517C19.5795 5.83465 19.5795 5.20148 19.1889 4.81096C18.7984 4.42044 18.1653 4.42044 17.7747 4.81096L12 10.5857L6.22526 4.81096Z"
      fill="#05272E"
    />
  </svg>
</template>

<script>
export default {}
</script>

<style></style>
