<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.3341 2.75H7.66509C4.64409 2.75 2.75009 4.889 2.75009 7.916V16.084C2.75009 19.111 4.63509 21.25 7.66509 21.25H16.3331C19.3641 21.25 21.2501 19.111 21.2501 16.084V7.916C21.2501 4.889 19.3641 2.75 16.3341 2.75Z"
      stroke="#05272E"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.6891 11.9999C10.6891 13.0229 9.86008 13.8519 8.83708 13.8519C7.81408 13.8519 6.98508 13.0229 6.98508 11.9999C6.98508 10.9769 7.81408 10.1479 8.83708 10.1479H8.84008C9.86108 10.1489 10.6891 10.9779 10.6891 11.9999Z"
      stroke="#05272E"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M10.692 12H17.01V13.852"
      stroke="#05272E"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M14.1818 13.852V12"
      stroke="#05272E"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<script>
export default {}
</script>

<style></style>
