<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M15 12.3301L9 16.6603L9 8L15 12.3301Z" :fill="color" />
  </svg>
</template>

<script>
export default { props: { color: { type: String, default: '#05272E' } } }
</script>

<style></style>
