<template>
  <svg
    width="199"
    height="101"
    viewBox="0 0 199 101"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect width="199" height="5" rx="2.5" fill="#FFF7F5" />
    <rect width="168" height="5" rx="2.5" fill="#348E58" />
    <rect y="24" width="199" height="5" rx="2.5" fill="#FFF7F5" />
    <rect y="24" width="168" height="5" rx="2.5" fill="#348E58" />
    <rect y="48" width="199" height="5" rx="2.5" fill="#FFF7F5" />
    <rect y="48" width="168" height="5" rx="2.5" fill="#348E58" />
    <rect y="72" width="199" height="5" rx="2.5" fill="#FFF7F5" />
    <rect y="72" width="168" height="5" rx="2.5" fill="#348E58" />
    <rect y="96" width="199" height="5" rx="2.5" fill="#FFF7F5" />
    <rect y="96" width="168" height="5" rx="2.5" fill="#348E58" />
  </svg>
</template>

<script>
export default {}
</script>

<style></style>
