$white: #fff;
$black: #000;
$grey: #bdc3c7;

$background: #f6fdfe;
$text: #05272e;

/** Primary color */
$primary-light-1: #c8f1f8;
$primary-light-2: #9be5f3;
$primary-light-3: #6dd9ed;

$primary: #40cde8;

$primary-dark-1: #1abcda;
$primary-dark-2: #1595ad;
$primary-dark-3: #0f6d7f;
$primary-dark-4: #0a4652;

/** Success color */
$success-light-1: #f8fcf9;
$success-light-2: #d2efde;
$success-light-3: #ade1c2;
$success-light-4: #88d3a6;

$success: #61c589;

$success-dark-1: #42b36f;
$success-dark-2: #348e58;
$success-dark-3: #266841;
$success-dark-4: #19432a;
$success-dark-5: #0b1e13;

/** Warning color */
$warning-light-1: #fff3e0;
$warning-light-2: #ffdfad;

$warning: #ffcc7b;

$warning-dark-1: #ffb847;
$warning-dark-2: #ffa414;
$warning-dark-3: #e08a00;
$warning-dark-4: #ad6a00;
$warning-dark-5: #7a4b00;
$warning-dark-6: #472c00;
$warning-dark-7: #140d00;

/** Error color */
$error-light-1: #fff7f5;
$error-light-2: #ffcfc2;
$error-light-3: #ffa78f;

$error: #ff805d;

$error-dark-1: #ff5729;
$error-dark-2: #f53500;
$error-dark-3: #c22a00;
$error-dark-4: #8f1f00;
$error-dark-5: #5c1400;
$error-dark-6: #290900;

$browser-context: 17; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
