@import "./variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-family: "Avenir", Helvetica, sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: calc(100% + env(safe-area-inset-top));
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  color: $text;
  background-color: $background;

  position: relative;
  padding: env(safe-area-inset-right) env(safe-area-inset-left);
}

body,
div#__nuxt,
#__layout,
#__layout > div,
#app {
  height: 100%;
}

.container {
  margin-left: em(16);
  margin-right: em(16);
  // text-align: center;
  // display: flex;
  // height: calc(100% - 95px);
  // padding-bottom: em(50);
  // padding-top: em(33);
  // flex-direction: column;
  // justify-content: space-between;
}

.safe-area {
  height: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) calc(env(safe-area-inset-bottom) + 50px)
    env(safe-area-inset-left);
}

.socials-signup {
  .btn {
    margin-bottom: em(25);
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $text;
    margin: 1em 0;
    padding: 0;
  }
}

.link {
  text-decoration: none;
  color: $text;

  // font-weight: 500;
  // font-size: em(13);
  // line-height: 150%;
}

.centered-btn {
  justify-content: center;
}

.skip {
  padding: em(10);
  border: none;

  font-size: em(16);
  font-weight: 700;
  background: none;

  margin: 0 auto;
  margin-bottom: em(21);
}

h1 {
  margin: 0;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: em(28);
  line-height: em(34);
}

h2 {
  margin: 0;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: em(22);
  line-height: em(27);
  text-align: center;
}

h3 {
  margin: 0;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: em(20);
  line-height: 150%;
}

p {
  margin: 0;
}

p.body {
  font-family: Avenir;
  font-style: normal;
  font-weight: 300;
  font-size: em(17);
  line-height: em(25);
}

p.footnote {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: em(13);
  line-height: 150%;
}

p.subhead {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: em(15);
  line-height: em(21);
}

p.nav {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: em(10);
  line-height: 150%;
}

.btn.play-game {
  color: $background !important;
  padding: em(10);
  width: auto;
  margin: 0 auto;
  margin-top: em(23);

  .icon {
    margin-right: em(5);
  }
}
