<template>
  <div
    class="variable"
    :style="{
      '--background': `${
        position == 'first'
          ? 'url(\'/backgrounds/action/first.svg\')'
          : position == 'middle'
          ? 'url(\'/backgrounds/action/middle.svg\')'
          : 'url(\'/backgrounds/action/last.svg\')'
      }`,
      '--height': `${position == 'last' ? '65px' : '78px'}`,
    }"
  >
    <div class="content">
      <p>{{ text }}</p>
    </div>
  </div>
</template>

<script>
export default { props: ['position', 'text'] }
</script>

<style lang="scss">
.variable {
  height: var(--height);
  width: 100%;
  background: var(--background);
  background-size: cover;

  .content {
    height: em(65);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: em(15) em(20);

    .input-var {
      padding: em(10);
      border: none;
      border-radius: em(5);
      background-color: $grey;
      max-width: 30%;
      text-align: center;
    }
  }
}
</style>
