<template>
  <button
    class="btn"
    :style="{
      '--color': `${color}`,
      '--position': `${iconPosition == 'left' ? '-1' : 'initial'}`,
      '--leftMargin': `${iconPosition == 'left' ? '0' : '5px'}`,
      '--rightMargin': `${iconPosition == 'left' ? '15px' : '0'}`,
    }"
  >
    {{ text }}
    <component v-if="icon" :is="icon" class="icon" :color="iconColor" />
  </button>
</template>

<script>
import * as components from './icons'

export default {
  components,
  props: {
    text: {
      type: String,
    },
    icon: {
      type: String,
    },
    color: {
      type: String,
      default: '#40cde8',
    },
    iconColor: {
      type: String,
      default: '#05272e',
    },
    iconPosition: {
      type: String,
      default: 'left',
    },
  },
}
</script>

<style lang="scss">
.btn {
  color: $text;
  background: var(--color);
  font-size: em(16);
  font-weight: 800;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: em(8);
  border: none;

  cursor: pointer;

  width: 100%;
  min-height: em(40);

  .icon {
    width: em(24);
    height: em(24);

    order: var(--position);
    margin-left: var(--leftMargin);
    margin-right: var(--rightMargin);
  }
}
</style>
