<template>
  <div
    class="condition"
    :style="{
      '--background': `${
        position == 'first'
          ? 'url(\'/backgrounds/condition/first.svg\')'
          : position == 'middle'
          ? 'url(\'/backgrounds/condition/middle.svg\')'
          : 'url(\'/backgrounds/condition/last.svg\')'
      }`,
      '--height': `${position == 'last' ? '65px' : '78px'}`,
    }"
  >
    <div class="content" v-if="condition === 'if-start'">
      <p class="c">Si</p>
      <input
        class="input-cond c"
        type="text"
        name="condition"
        :value="value"
        v-on:input="$emit('input', $event.target.value)"
      />
      <p class="c">alors</p>
    </div>
    <div class="content" v-else-if="condition === 'else'">
      <p class="c">Sinon</p>
    </div>
    <div class="content" v-else-if="condition === 'end-if'">
      <p class="c">Fin si</p>
    </div>
    <div class="content" v-else-if="condition === 'switch-start'">
      <p class="c">Selon</p>
      <input
        class="input-cond c"
        type="text"
        name="condition"
        :value="value"
        v-on:input="$emit('input', $event.target.value)"
      />
      <p class="c">alors</p>
    </div>
    <div class="content" v-else-if="condition === 'case'">
      <p class="c">Cas</p>
      <input
        class="input-cond c"
        type="text"
        name="condition"
        :value="value"
        disabled
      />
      <p class="c">alors</p>
    </div>
    <div class="content" v-else-if="condition === 'end-switch'">
      <p class="c">Fin selon que</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['position', 'condition', 'value'],
}
</script>

<style lang="scss">
.condition {
  height: var(--height);
  width: 100%;
  background: var(--background);
  background-size: cover;

  .content {
    height: em(65);
    display: flex;
    align-items: center;
    padding: em(15) em(20);

    .input-cond {
      padding: em(10);
      border: none;
      border-radius: em(5);
      background-color: $grey;
      max-width: 30%;
      text-align: center;
    }

    .c {
      margin-right: em(10);
    }
  }
}
</style>
