<template>
  <svg
    width="148"
    height="148"
    viewBox="0 0 148 148"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0)">
      <path
        d="M41.895 140.186C51.8965 145.054 62.8767 147.576 73.9999 147.56C114.544 147.56 147.413 114.691 147.413 74.1468C147.413 33.6025 114.544 0.734123 73.9999 0.734123C33.4555 0.734123 0.587161 33.6025 0.587161 74.1468C0.583662 87.9212 4.4555 101.419 11.7602 113.097C19.0648 124.775 29.5076 134.162 41.895 140.186"
        fill="url(#paint0_radial)"
      />
      <path
        d="M30.8333 14.5915C43.3727 5.46329 58.4899 0.558926 73.9999 0.587265C114.577 0.587265 147.413 33.4233 147.413 74C147.413 114.577 114.577 147.413 73.9999 147.413C65.6114 147.422 57.2833 145.994 49.3773 143.19"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
      <path
        d="M49.3773 143.19C38.226 139.214 28.2009 132.601 20.1557 123.916C12.1105 115.23 6.28354 104.729 3.17102 93.3065C0.0585079 81.8839 -0.247348 69.8784 2.2795 58.3121C4.80635 46.7459 10.0911 35.9617 17.6836 26.8778"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
      <path
        d="M110.706 115.058C120.785 106.031 127.175 93.5987 128.648 80.1485C130.121 66.6982 126.573 53.1778 118.687 42.1831C110.801 31.1883 99.1311 23.494 85.9185 20.5774C72.706 17.6608 58.8816 19.7274 47.0997 26.3804C35.3177 33.0335 26.4084 43.8042 22.0822 56.6246C17.7561 69.445 18.318 83.4117 23.6601 95.8431C29.0021 108.275 38.7479 118.295 51.0263 123.98C63.3046 129.665 77.2503 130.614 90.1859 126.646"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
      <path
        d="M49.3774 46.7668C56.1326 40.67 64.9158 37.3068 74.0154 37.3326C83.115 37.3584 91.8791 40.7713 98.5996 46.9062C105.32 53.0411 109.516 61.4586 110.369 70.5181C111.222 79.5777 108.671 88.6303 103.214 95.9119C97.7563 103.193 89.7833 108.182 80.8485 109.906C71.9136 111.63 62.657 109.965 54.8825 105.236C47.1081 100.507 41.3728 93.0534 38.7943 84.3268C36.2159 75.6001 36.979 66.226 40.935 58.0312"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
      <path
        d="M88.8615 63.22C86.3619 59.771 82.7407 57.2985 78.6183 56.226C74.4959 55.1536 70.1289 55.548 66.2654 57.3416C62.4018 59.1352 59.2822 62.2165 57.4409 66.0576C55.5996 69.8986 55.1512 74.2604 56.1726 78.3958C57.1939 82.5311 59.6215 86.1826 63.0393 88.7247C66.4572 91.2669 70.6526 92.5414 74.907 92.3301C79.1613 92.1187 83.2098 90.4346 86.3588 87.5663C89.5079 84.6979 91.5616 80.8238 92.168 76.6076"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
      <path
        d="M91.4604 79.6733L108.921 85.3466"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
      <path
        d="M95.5803 44.2972L106.366 29.4531"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
      <path
        d="M84.7915 59.1471L95.5802 44.2972"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
      <path
        d="M61.8457 127.706L66.2651 109.89"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
      <path
        d="M56.5393 79.6733L39.0789 85.3466"
        stroke="#05272E"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
    </g>
    <defs>
      <radialGradient
        id="paint0_radial"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(73.9999 74.1468) scale(73.4127)"
      >
        <stop stop-color="#FF805D" />
        <stop offset="0.11" stop-color="#FD815E" />
        <stop offset="0.15" stop-color="#F68363" />
        <stop offset="0.18" stop-color="#EB886C" />
        <stop offset="0.2" stop-color="#DA8F78" />
        <stop offset="0.22" stop-color="#C49888" />
        <stop offset="0.24" stop-color="#A8A39C" />
        <stop offset="0.25" stop-color="#88B0B4" />
        <stop offset="0.27" stop-color="#64BFCE" />
        <stop offset="0.28" stop-color="#40CDE8" />
        <stop offset="0.39" stop-color="#41CDE6" />
        <stop offset="0.43" stop-color="#43CCDF" />
        <stop offset="0.46" stop-color="#47CBD4" />
        <stop offset="0.49" stop-color="#4DCAC3" />
        <stop offset="0.51" stop-color="#55C8AD" />
        <stop offset="0.52" stop-color="#5EC692" />
        <stop offset="0.53" stop-color="#61C589" />
        <stop offset="0.63" stop-color="#63C589" />
        <stop offset="0.66" stop-color="#6AC588" />
        <stop offset="0.69" stop-color="#75C687" />
        <stop offset="0.71" stop-color="#86C786" />
        <stop offset="0.72" stop-color="#9CC884" />
        <stop offset="0.74" stop-color="#B8C981" />
        <stop offset="0.75" stop-color="#D7CA7F" />
        <stop offset="0.76" stop-color="#FBCC7B" />
        <stop offset="0.77" stop-color="#FFCC7B" />
      </radialGradient>
      <clipPath id="clip0">
        <rect width="148" height="148" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {}
</script>

<style></style>
