<template>
  <div class="form-field">
    <label :for="id">{{ label }}</label>
    <div class="input-field">
      <component v-if="icon" :is="icon" class="icon" />
      <input
        :type="type"
        :placeholder="placeholder"
        :value="value"
        @input="$emit('input', $event.target.value)"
      />
    </div>
  </div>
</template>

<script>
import * as components from './icons'

export default {
  components,
  props: ['id', 'label', 'type', 'placeholder', 'icon', 'value'],
}
</script>

<style lang="scss">
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: em(40);
  text-align: left;

  label {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: em(15);
    line-height: em(21);
    color: $text;

    margin-bottom: em(10);
  }

  .input-field {
    width: 100%;

    svg {
      position: absolute;

      padding: em(10);
      width: em(44);
      height: em(44);
      text-align: left;
    }

    input {
      width: 100%;
      padding: em(10);
      padding-left: em(44);

      border: em(1) solid $text;
      border-radius: em(4);
      background: none;

      font-family: 'Avenir';
      font-size: em(16);
      line-height: em(22);
    }
  }
}
</style>
