<template>
  <div class="card">
    <h1>{{ title }}</h1>
    <p class="body">{{ text }}</p>
  </div>
</template>

<script>
export default {
  props: ['title', 'text'],
}
</script>

<style lang="scss">
.card {
  box-shadow: 0 em(4) em(4) rgba(5, 39, 46, 0.1),
    em(4) 0 em(4) rgba(5, 39, 46, 0.1), em(-4) 0 em(4) rgba(5, 39, 46, 0.1),
    0 em(-4) em(4) rgba(5, 39, 46, 0.1);
  border-radius: em(20);
  background: $background;

  min-height: em(175);
  padding: em(20);
}
</style>
