<template>
  <button
    class="level"
    :style="{
      '--color': `${color}`,
    }"
  >
    <component :is="icon" class="icon" :color="iconColor" />
  </button>
</template>

<script>
import * as components from './icons'

export default {
  components,
  props: {
    icon: {
      type: String,
    },
    color: {
      type: String,
      default: '#40cde8',
    },
    iconColor: {
      type: String,
      default: '#05272e',
    },
  },
}
</script>

<style lang="scss">
.level {
  background: var(--color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: em(3) solid $text;

  cursor: pointer;

  width: em(43);
  min-height: em(43);

  .icon {
    width: em(24);
    height: em(24);
  }
}
</style>
