<template>
  <svg
    class="Logo"
    width="139"
    height="69"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 394.61 196.13"
  >
    <g id="Calque_2" data-name="Calque 2">
      <g id="Calque_1-2" data-name="Calque 1">
        <path
          :fill="textColor"
          d="M102.66,73.23a3.88,3.88,0,0,1,3,1.26,4.21,4.21,0,0,1,1.15,2.92v95.77a4.27,4.27,0,0,1-4.17,4.17,3.91,3.91,0,0,1-3-1.25,4.18,4.18,0,0,1-1.15-2.92V143.55l3.34-2.71a30.86,30.86,0,0,1-3.34,13.56,44.06,44.06,0,0,1-9.18,12.52A45.92,45.92,0,0,1,75.53,176a42.43,42.43,0,0,1-17.11,3.45,43.89,43.89,0,0,1-24.93-7.31,50.34,50.34,0,0,1-17.22-19.82A62.12,62.12,0,0,1,10,124.14q0-15.84,6.36-28.06A49.16,49.16,0,0,1,33.7,76.89a45,45,0,0,1,24.72-7,44.25,44.25,0,0,1,16.9,3.23,42.26,42.26,0,0,1,26.5,39.75l-3.34-5.22V77.41a4.16,4.16,0,0,1,1.15-2.92A3.89,3.89,0,0,1,102.66,73.23ZM58.84,171.51a36.54,36.54,0,0,0,20.86-6.16,41.81,41.81,0,0,0,14.4-16.9,54.89,54.89,0,0,0,5.22-24.31,52.16,52.16,0,0,0-5.22-23.47A42.19,42.19,0,0,0,79.7,84a36.62,36.62,0,0,0-20.86-6.16,37.22,37.22,0,0,0-20.66,6,41.56,41.56,0,0,0-14.5,16.38,52.06,52.06,0,0,0-5.32,24,54.89,54.89,0,0,0,5.22,24.31A41.71,41.71,0,0,0,38,165.35,36.57,36.57,0,0,0,58.84,171.51Z"
          transform="translate(-10.02 -22.95)"
        />
        <path
          :fill="textColor"
          d="M150.85,173.18a4.27,4.27,0,0,1-4.17,4.17,3.94,3.94,0,0,1-3-1.25,4.22,4.22,0,0,1-1.15-2.92V27.12A4.29,4.29,0,0,1,146.68,23a3.91,3.91,0,0,1,3,1.25,4.18,4.18,0,0,1,1.15,2.92Z"
          transform="translate(-10.02 -22.95)"
        />
        <path
          :fill="textColor"
          d="M227.63,69.9a45.86,45.86,0,0,1,17.53,3.33A50.31,50.31,0,0,1,259.45,82a44.07,44.07,0,0,1,9.6,11.68A25.48,25.48,0,0,1,272.49,106l-2.71-7.72V77.41a4.16,4.16,0,0,1,1.15-2.92,4.26,4.26,0,0,1,6.05,0,4.21,4.21,0,0,1,1.15,2.92v89.72q0,16.06-6.58,27.75a45.22,45.22,0,0,1-18.05,17.94q-11.48,6.26-26.7,6.26a66.71,66.71,0,0,1-16.8-2.19,54.66,54.66,0,0,1-14.08-5.53q-5.64-3.35-5.64-7.09a3.94,3.94,0,0,1,.94-2.72,3.36,3.36,0,0,1,2.61-1,4.93,4.93,0,0,1,3.86,2.3c1.18,1.52,3.3,2.92,6.36,4.17l5.12,1.67a53.86,53.86,0,0,0,7.82,1.77,65,65,0,0,0,10.22.73q19.83,0,31.2-12.2t11.37-31.82V146.47l2.09.21a44.31,44.31,0,0,1-7.31,15.23A41.81,41.81,0,0,1,253.61,172a46.42,46.42,0,0,1-12.94,5.63,51.57,51.57,0,0,1-13,1.78,47.14,47.14,0,0,1-25.77-7.2,51.73,51.73,0,0,1-18-19.61,58.24,58.24,0,0,1-6.68-28.07,58.2,58.2,0,0,1,6.68-28.06,50.86,50.86,0,0,1,18-19.51A47.66,47.66,0,0,1,227.63,69.9Zm.42,7.92a40.27,40.27,0,0,0-21.8,6.06A42.29,42.29,0,0,0,191,100.46a51.19,51.19,0,0,0-5.52,24.1,51.35,51.35,0,0,0,5.52,24,42.89,42.89,0,0,0,15.24,16.79,39.76,39.76,0,0,0,21.8,6.16,40.31,40.31,0,0,0,21.7-5.95A42.54,42.54,0,0,0,265,149.08q5.64-10.53,5.63-24.52T265,100.05a41.71,41.71,0,0,0-15.23-16.38A40.86,40.86,0,0,0,228.05,77.82Z"
          transform="translate(-10.02 -22.95)"
        />
        <path
          :fill="colors.green"
          d="M323.35,167.89a3.53,3.53,0,0,1-2.27-.84,55.43,55.43,0,0,1-19.46-42.64c0-30,23.11-54.45,51.5-54.45a49.17,49.17,0,0,1,13.5,1.88,3.87,3.87,0,0,1,2.56,4.72,3.62,3.62,0,0,1-4.46,2.72,42,42,0,0,0-11.6-1.62c-24.38,0-44.22,21-44.22,46.75A47.55,47.55,0,0,0,325.61,161a4,4,0,0,1,.59,5.41A3.56,3.56,0,0,1,323.35,167.89Z"
          transform="translate(-10.02 -22.95)"
        />
        <path
          :fill="colors.green"
          d="M353.12,178.85A49.33,49.33,0,0,1,340,177.07a3.88,3.88,0,0,1-2.59-4.7,3.62,3.62,0,0,1,4.44-2.75,42.12,42.12,0,0,0,11.29,1.54c24.39,0,44.22-21,44.22-46.75a47.33,47.33,0,0,0-17.78-37.5,4,4,0,0,1-.74-5.38,3.51,3.51,0,0,1,5.1-.78A54.22,54.22,0,0,1,399,99.59a56.31,56.31,0,0,1,5.64,24.82C404.62,154.43,381.52,178.85,353.12,178.85Z"
          transform="translate(-10.02 -22.95)"
        />
        <path
          :fill="colors.blue"
          d="M353.12,162a35.35,35.35,0,0,1-30.79-18.79,4,4,0,0,1,1.33-5.26,3.54,3.54,0,0,1,5,1.41,28.13,28.13,0,0,0,24.49,14.94,27.17,27.17,0,0,0,13.34-3.52,3.54,3.54,0,0,1,4.93,1.57,4,4,0,0,1-1.49,5.21A34.12,34.12,0,0,1,353.12,162Z"
          transform="translate(-10.02 -22.95)"
        />
        <path
          :fill="colors.blue"
          d="M380.76,145.12a3.45,3.45,0,0,1-1.81-.51,4,4,0,0,1-1.33-5.26,31.35,31.35,0,0,0,3.77-14.94c0-16.48-12.68-29.89-28.27-29.89-14.56,0-26.65,11.53-28.12,26.82a3.69,3.69,0,0,1-4,3.44,3.79,3.79,0,0,1-3.25-4.21c1.84-19.24,17.05-33.75,35.36-33.75,19.6,0,35.55,16.86,35.55,37.59a39.27,39.27,0,0,1-4.75,18.79A3.61,3.61,0,0,1,380.76,145.12Z"
          transform="translate(-10.02 -22.95)"
        />
        <path
          :fill="colors.red"
          d="M353.12,145.12c-10.8,0-19.59-9.29-19.59-20.71,0-9.8,6.58-18.34,15.65-20.3a3.65,3.65,0,0,1,4.29,3,3.84,3.84,0,0,1-2.84,4.54,12.9,12.9,0,0,0-9.82,12.76c0,7.17,5.52,13,12.31,13a12.2,12.2,0,0,0,11-7.14,3.55,3.55,0,0,1,4.89-1.7,4,4,0,0,1,1.61,5.17A19.44,19.44,0,0,1,353.12,145.12Z"
          transform="translate(-10.02 -22.95)"
        />
        <path
          :fill="colors.red"
          d="M367.78,121.59a3.64,3.64,0,0,1-3.34-2.33,13.12,13.12,0,0,0-2.72-4.18,4,4,0,0,1-.07-5.44,3.5,3.5,0,0,1,5.15-.07,20.67,20.67,0,0,1,4.33,6.64,3.94,3.94,0,0,1-1.91,5.06A3.54,3.54,0,0,1,367.78,121.59Z"
          transform="translate(-10.02 -22.95)"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  data() {
    let textColor = '#05272e'
    let colors = { green: '#61c589', red: '#ff805d', blue: '#40cde8' }
    switch (this.type) {
      case 'light':
        textColor = '#f6fdfe'
        break

      case 'white':
        textColor = '#fff'
        for (let [key, value] of Object.entries(colors)) {
          colors[key] = '#fff'
        }
        break

      case 'black':
        textColor = '#000'
        for (let [key, value] of Object.entries(colors)) {
          colors[key] = '#000'
        }
        break

      default:
        break
    }
    return {
      textColor: textColor,
      colors: { green: colors.green, red: colors.red, blue: colors.blue },
    }
  },
  props: { type: { type: String, default: 'dark' } },
}
</script>

<style>
.Logo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
