<template>
  <PinchZoom class="pinch-container" backgroundColor="">
    <svg
      width="700"
      height="700"
      viewBox="0 0 342 342"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0)">
        <path
          d="M96.8121 323.943C119.924 335.192 145.297 341.019 171 340.982C264.691 340.982 340.643 265.03 340.643 171.339C340.643 77.6489 264.691 1.69643 171 1.69643C77.3099 1.69643 1.35743 77.6489 1.35743 171.339C1.34934 203.169 10.2964 234.36 27.1761 261.345C44.0558 288.331 68.1871 310.023 96.8121 323.943"
          fill="url(#paint0_radial)"
        />
        <path
          d="M71.25 33.7182C100.226 12.6247 135.159 1.29164 171 1.35712C264.765 1.35712 340.643 77.235 340.643 171C340.643 264.765 264.765 340.643 171 340.643C151.616 340.665 132.371 337.364 114.102 330.885"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M114.102 330.885C88.3334 321.696 65.1672 306.416 46.5763 286.346C27.9854 266.275 14.5203 242.009 7.32791 215.614C0.135474 189.218 -0.571302 161.476 5.26777 134.748C11.1068 108.021 23.3188 83.1007 40.8636 62.1096"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M255.821 265.878C279.112 245.017 293.877 216.289 297.28 185.208C300.684 154.127 292.487 122.884 274.264 97.4772C256.04 72.0703 229.074 54.2903 198.542 47.5505C168.01 40.8108 136.065 45.5863 108.839 60.9603C81.6127 76.3343 61.0251 101.223 51.0282 130.849C41.0312 160.474 42.3297 192.749 54.6742 221.475C67.0188 250.202 89.5393 273.357 117.912 286.494C146.285 299.631 178.511 301.825 208.403 292.654"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M114.102 108.069C129.712 93.9808 150.008 86.209 171.036 86.2686C192.063 86.3281 212.315 94.2147 227.845 108.391C243.375 122.568 253.07 142.019 255.041 162.954C257.013 183.889 251.118 204.808 238.507 221.634C225.896 238.46 207.472 249.989 186.826 253.972C166.179 257.955 144.789 254.108 126.823 243.181C108.858 232.254 95.6047 215.029 89.6464 194.863C83.6881 174.698 85.4515 153.036 94.5931 134.099"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M205.343 146.09C199.566 138.12 191.198 132.406 181.672 129.928C172.146 127.45 162.055 128.361 153.127 132.506C144.199 136.65 136.99 143.771 132.735 152.647C128.48 161.523 127.444 171.602 129.805 181.158C132.165 190.714 137.774 199.152 145.672 205.026C153.57 210.901 163.265 213.846 173.096 213.357C182.927 212.869 192.282 208.977 199.559 202.349C206.836 195.721 211.582 186.769 212.983 177.026"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M211.348 184.11L251.696 197.22"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M220.868 102.362L245.792 68.0607"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M195.938 136.678L220.868 102.362"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M142.914 295.104L153.127 253.935"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M130.652 184.11L90.3042 197.22"
          stroke="#05272E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
      </g>
      <circle
        cx="208"
        cy="221"
        r="13.5"
        fill="#1595AD"
        stroke="#05272E"
        stroke-width="3"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M211.838 219.605C212.994 219.605 213.931 220.542 213.931 221.698V225.884C213.931 227.04 212.994 227.977 211.838 227.977H203.466C202.31 227.977 201.373 227.04 201.373 225.884V221.698C201.373 220.542 202.31 219.605 203.466 219.605V217.512C203.466 215.2 205.34 213.326 207.652 213.326C209.964 213.326 211.838 215.2 211.838 217.512V219.605ZM207.652 214.721C209.193 214.721 210.442 215.97 210.442 217.512V219.605H204.861V217.512C204.861 215.97 206.11 214.721 207.652 214.721ZM211.838 221H203.466C203.08 221 202.768 221.312 202.768 221.698V225.884C202.768 226.269 203.08 226.581 203.466 226.581H211.838C212.223 226.581 212.535 226.269 212.535 225.884V221.698C212.535 221.312 212.223 221 211.838 221Z"
        fill="#F6FDFE"
      />
      <circle
        cx="234"
        cy="170"
        r="13.5"
        fill="#1595AD"
        stroke="#05272E"
        stroke-width="3"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M237.838 168.605C238.994 168.605 239.931 169.542 239.931 170.698V174.884C239.931 176.04 238.994 176.977 237.838 176.977H229.466C228.31 176.977 227.373 176.04 227.373 174.884V170.698C227.373 169.542 228.31 168.605 229.466 168.605V166.512C229.466 164.2 231.34 162.326 233.652 162.326C235.964 162.326 237.838 164.2 237.838 166.512V168.605ZM233.652 163.721C235.193 163.721 236.442 164.97 236.442 166.512V168.605H230.861V166.512C230.861 164.97 232.11 163.721 233.652 163.721ZM237.838 170H229.466C229.08 170 228.768 170.312 228.768 170.698V174.884C228.768 175.269 229.08 175.581 229.466 175.581H237.838C238.223 175.581 238.535 175.269 238.535 174.884V170.698C238.535 170.312 238.223 170 237.838 170Z"
        fill="#F6FDFE"
      />
      <circle
        cx="171"
        cy="171"
        r="13.5"
        fill="#C22A00"
        stroke="#05272E"
        stroke-width="3"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M174.838 169.605C175.994 169.605 176.931 170.542 176.931 171.698V175.884C176.931 177.04 175.994 177.977 174.838 177.977H166.466C165.31 177.977 164.373 177.04 164.373 175.884V171.698C164.373 170.542 165.31 169.605 166.466 169.605V167.512C166.466 165.2 168.34 163.326 170.652 163.326C172.964 163.326 174.838 165.2 174.838 167.512V169.605ZM170.652 164.721C172.193 164.721 173.442 165.97 173.442 167.512V169.605H167.861V167.512C167.861 165.97 169.11 164.721 170.652 164.721ZM174.838 171H166.466C166.08 171 165.768 171.312 165.768 171.698V175.884C165.768 176.269 166.08 176.581 166.466 176.581H174.838C175.223 176.581 175.535 176.269 175.535 175.884V171.698C175.535 171.312 175.223 171 174.838 171Z"
        fill="#FFF7F5"
      />
      <circle
        cx="264"
        cy="122"
        r="13.5"
        fill="#266841"
        stroke="#05272E"
        stroke-width="3"
        @click="toLabyrinthe"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M267.838 120.605C268.994 120.605 269.931 121.542 269.931 122.698V126.884C269.931 128.04 268.994 128.977 267.838 128.977H259.466C258.31 128.977 257.373 128.04 257.373 126.884V122.698C257.373 121.542 258.31 120.605 259.466 120.605V118.512C259.466 116.2 261.34 114.326 263.652 114.326C265.964 114.326 267.838 116.2 267.838 118.512V120.605ZM263.652 115.721C265.193 115.721 266.442 116.97 266.442 118.512V120.605H260.861V118.512C260.861 116.97 262.11 115.721 263.652 115.721ZM267.838 122H259.466C259.08 122 258.768 122.312 258.768 122.698V126.884C258.768 127.269 259.08 127.581 259.466 127.581H267.838C268.223 127.581 268.535 127.269 268.535 126.884V122.698C268.535 122.312 268.223 122 267.838 122Z"
        fill="#F8FCF9"
      />
      <circle
        cx="74"
        cy="214"
        r="13.5"
        fill="#266841"
        stroke="#05272E"
        stroke-width="3"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M77.8377 212.605C78.9936 212.605 79.9307 213.542 79.9307 214.698V218.884C79.9307 220.04 78.9936 220.977 77.8377 220.977H69.4656C68.3096 220.977 67.3726 220.04 67.3726 218.884V214.698C67.3726 213.542 68.3096 212.605 69.4656 212.605V210.512C69.4656 208.2 71.3397 206.326 73.6516 206.326C75.9635 206.326 77.8377 208.2 77.8377 210.512V212.605ZM73.6516 207.721C75.1929 207.721 76.4423 208.97 76.4423 210.512V212.605H70.8609V210.512C70.8609 208.97 72.1104 207.721 73.6516 207.721ZM77.8377 214H69.4656C69.0803 214 68.7679 214.312 68.7679 214.698V218.884C68.7679 219.269 69.0803 219.581 69.4656 219.581H77.8377C78.223 219.581 78.5353 219.269 78.5353 218.884V214.698C78.5353 214.312 78.223 214 77.8377 214Z"
        fill="#F8FCF9"
      />
      <circle
        cx="277"
        cy="67"
        r="13.5"
        fill="#F6FDFE"
        stroke="#05272E"
        stroke-width="3"
        @click="toCourse"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M276.826 64.2093C276.153 64.2093 275.605 64.757 275.605 65.4309C275.605 66.1042 276.153 66.6512 276.826 66.6512C277.499 66.6512 278.047 66.1042 278.047 65.4309C278.047 64.757 277.499 64.2093 276.826 64.2093M276.826 67.6977C275.576 67.6977 274.559 66.6812 274.559 65.4309C274.559 64.18 275.576 63.1628 276.826 63.1628C278.076 63.1628 279.093 64.18 279.093 65.4309C279.093 66.6812 278.076 67.6977 276.826 67.6977"
        fill="#C22A00"
      />
      <mask
        id="mask0"
        mask-type="alpha"
        maskUnits="userSpaceOnUse"
        x="271"
        y="59"
        width="12"
        height="15"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M271.07 59.6744H282.581V73.2791H271.07V59.6744Z"
          fill="white"
        />
      </mask>
      <g mask="url(#mask0)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M276.825 60.7209C274.228 60.7209 272.116 62.8537 272.116 65.4742C272.116 68.8084 276.04 72.0567 276.825 72.2298C277.611 72.056 281.534 68.8077 281.534 65.4742C281.534 62.8537 279.422 60.7209 276.825 60.7209V60.7209ZM276.825 73.2791C275.574 73.2791 271.069 69.4056 271.069 65.4742C271.069 62.276 273.651 59.6744 276.825 59.6744C279.999 59.6744 282.581 62.276 282.581 65.4742C282.581 69.4056 278.077 73.2791 276.825 73.2791V73.2791Z"
          fill="#C22A00"
        />
      </g>
      <circle
        cx="110"
        cy="164"
        r="13.5"
        fill="#1595AD"
        stroke="#05272E"
        stroke-width="3"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M113.838 162.605C114.994 162.605 115.931 163.542 115.931 164.698V168.884C115.931 170.04 114.994 170.977 113.838 170.977H105.466C104.31 170.977 103.373 170.04 103.373 168.884V164.698C103.373 163.542 104.31 162.605 105.466 162.605V160.512C105.466 158.2 107.34 156.326 109.652 156.326C111.964 156.326 113.838 158.2 113.838 160.512V162.605ZM109.652 157.721C111.193 157.721 112.442 158.97 112.442 160.512V162.605H106.861V160.512C106.861 158.97 108.11 157.721 109.652 157.721ZM113.838 164H105.466C105.08 164 104.768 164.312 104.768 164.698V168.884C104.768 169.269 105.08 169.581 105.466 169.581H113.838C114.223 169.581 114.535 169.269 114.535 168.884V164.698C114.535 164.312 114.223 164 113.838 164Z"
        fill="#F6FDFE"
      />
      <defs>
        <radialGradient
          id="paint0_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(171 171.339) scale(169.643)"
        >
          <stop stop-color="#FF805D" />
          <stop offset="0.11" stop-color="#FD815E" />
          <stop offset="0.15" stop-color="#F68363" />
          <stop offset="0.18" stop-color="#EB886C" />
          <stop offset="0.2" stop-color="#DA8F78" />
          <stop offset="0.22" stop-color="#C49888" />
          <stop offset="0.24" stop-color="#A8A39C" />
          <stop offset="0.25" stop-color="#88B0B4" />
          <stop offset="0.27" stop-color="#64BFCE" />
          <stop offset="0.28" stop-color="#40CDE8" />
          <stop offset="0.39" stop-color="#41CDE6" />
          <stop offset="0.43" stop-color="#43CCDF" />
          <stop offset="0.46" stop-color="#47CBD4" />
          <stop offset="0.49" stop-color="#4DCAC3" />
          <stop offset="0.51" stop-color="#55C8AD" />
          <stop offset="0.52" stop-color="#5EC692" />
          <stop offset="0.53" stop-color="#61C589" />
          <stop offset="0.63" stop-color="#63C589" />
          <stop offset="0.66" stop-color="#6AC588" />
          <stop offset="0.69" stop-color="#75C687" />
          <stop offset="0.71" stop-color="#86C786" />
          <stop offset="0.72" stop-color="#9CC884" />
          <stop offset="0.74" stop-color="#B8C981" />
          <stop offset="0.75" stop-color="#D7CA7F" />
          <stop offset="0.76" stop-color="#FBCC7B" />
          <stop offset="0.77" stop-color="#FFCC7B" />
        </radialGradient>
        <clipPath id="clip0">
          <rect width="342" height="342" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </PinchZoom>
</template>

<script>
import PinchZoom from 'vue-pinch-zoom'

export default {
  components: { PinchZoom },
  data: () => ({ svgpanzoom: null }),
  methods: {
    toCourse() {
      this.$router.push({ path: '/jeux/la-course' })
    },
    toLabyrinthe() {
      this.$router.push({ path: '/jeux/labyrinthe' })
    },
    // toSport() {
    //   this.$router.push({ path: '/jeux/sport' })
    // },
    // toJustePrix() {
    //   this.$router.push({ path: '/jeux/juste-prix' })
    // },
    // toFinal() {
    //   this.$router.push({ path: '/jeux/final' })
    // },
    // toFeteForaine() {
    //   this.$router.push({ path: '/jeux/fete-foraine' })
    // },
    // toCinema() {
    //   this.$router.push({ path: '/jeux/cinema' })
    // },
  },
}
</script>

<style lang="scss">
.pinch-container {
  height: 100%;
}
</style>
