<template>
  <div class="modal-backdrop" v-show="value">
    <div
      class="modal container"
      :style="{ '--backgroundColor': `${backgroundColor}` }"
    >
      <Level icon="close" @click.native="close" :color="closeColor" />
      <svg-icon :name="icon" />
      <h1>{{ title }}</h1>
      <p class="body">{{ text }}</p>
      <Button
        v-if="success"
        text="Niveau suivant"
        :color="closeColor"
        class="centered-btn"
        @click.native="nextLevel"
      />
      <Button
        v-else
        text="Réessayer"
        :color="closeColor"
        class="centered-btn"
        @click.native="close"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'success',
    'icon',
    'title',
    'text',
    'value',
    'closeColor',
    'backgroundColor',
  ],
  methods: {
    close() {
      this.$emit('input', !this.value)
    },
    nextLevel() {
      if (this.$route.path === '/jeux/labyrinthe') {
        this.$router.push('/')
      } else {
        this.$router.push('/jeux/labyrinthe')
      }
    },
  },
}
</script>

<style lang="scss">
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background: var(--backgroundColor);
  box-shadow: 2px 2px 20px 1px;
  border-radius: em(30);
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: em(30);
  height: 80%;
}

.level {
  position: absolute;
  top: 13px;
  right: 13px;

  width: 43px !important;
  height: 43px !important;

  svg {
    width: 24px !important;
    height: 24px !important;
  }
}
</style>
