<template>
  <nav id="navigation">
    <nuxt-link to="/communaute" class="nav-button"
      ><community color="#f6fdfe" /><span v-show="active"
        >Communauté</span
      ></nuxt-link
    ><nuxt-link to="/" class="nav-button"
      ><Logo-small /><span v-show="active">Algo</span></nuxt-link
    ><nuxt-link to="/mon-compte" class="nav-button"
      ><moncompte color="#f6fdfe" /><span v-show="active"
        >Mon compte</span
      ></nuxt-link
    >
  </nav>
</template>

<script>
import community from './icons/community'
import moncompte from './icons/mon-compte'

export default {
  components: { community, moncompte },
  computed: {
    active() {
      return false
    },
  },
}
</script>

<style lang="scss">
#navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  bottom: 0;

  width: 100%;

  padding: em(13) em(45);
  padding-bottom: calc(13px + env(safe-area-inset-bottom));

  background-color: $text;

  .nav-button {
    display: flex;
    color: $background;
    text-decoration: none;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
</style>
