<template>
  <div class="onboarding-nav">
    <circlenav
      v-for="n in steps"
      :key="n"
      :active="n === currentPage ? true : false"
      :color="color"
      :active-color="activeColor"
      class="circle"
    />
  </div>
</template>

<script>
import circlenav from './icons/circle-nav'

export default {
  components: { circlenav },
  props: {
    currentPage: { type: Number },
    steps: { type: Number },
    color: { type: String, default: '#6DD9ED' },
    activeColor: { type: String, default: '#1595ad' },
  },
}
</script>

<style lang="scss">
.onboarding-nav {
  align-self: center;
  margin-bottom: em(23);

  .circle {
    max-width: em(15);
    max-height: em(15);

    margin-left: 5px;
    margin-right: 5px;
  }
}
</style>
