<template>
  <div
    class="onboarding"
    v-show="showOnboarding"
    :style="{
      '--backgroundColor': `${color}`,
      '--secondaryColor': `${secondaryColor}`,
    }"
  >
    <div class="onboarding safe-area">
      <Logo v-if="logo" class="onboarding-header" />
      <p
        class="text"
        v-show="index++ === page"
        v-for="(o, index) in onboardingData"
        :key="index"
        v-touch:swipe="swipeHandler"
      >
        {{ o }}
      </p>
      <OnboardingNav
        :color="circleColor"
        :active-color="activeColor"
        :currentPage="page"
        :steps="sizeOfData"
      />
    </div>
    <button @click="skip" class="skip">Passer</button>
  </div>
</template>

<script>
export default {
  props: {
    onboardingData: { type: Object },
    logo: { type: Boolean },
    color: { type: String, default: '#f6fdfe' },
    secondaryColor: { type: String, default: '#c8f1f8' },
    circleColor: { type: String, default: '#6DD9ED' },
    activeColor: { type: String, default: '#1595ad' },
  },
  data() {
    return {
      page: 1,
      showOnboarding: true,
    }
  },
  computed: {
    sizeOfData() {
      return Object.keys(this.onboardingData).length
    },
  },
  methods: {
    swipeHandler(direction) {
      switch (direction) {
        case 'left':
          this.nextPage()
          break

        case 'right':
          this.previousPage()
          break

        default:
          break
      }
    },
    nextPage() {
      var size = Object.keys(this.onboardingData).length + 1
      this.page++
      if (this.page === size) {
        this.page = 1
      }
    },
    previousPage() {
      var size = Object.keys(this.onboardingData).length
      this.page--
      if (this.page === 0) {
        this.page = size
      }
    },
    skip() {
      this.showOnboarding = false
    },
  },
  mounted: function () {
    this.$store.commit('SHOW_MENU', false)
    window.setInterval(() => {
      this.nextPage()
    }, 3000)
  },
}
</script>

<style lang="scss">
.onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding-bottom: env(safe-area-inset-bottom);
  background: var(--backgroundColor);

  .onboarding {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;

    font-family: 'Helvetica Neue';
    font-size: em(20);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    background: var(--secondaryColor);
    border-radius: 0 0 40px 40px;

    margin-bottom: em(42);

    width: 100%;

    .onboarding-header {
      align-self: center;
      margin: 0;
      margin-top: em(52);
    }

    .text {
      align-self: center;
      max-width: em(282);
    }
  }
}
</style>
