<template>
  <div class="ranking-list">
    <p class="position subhead">{{ position }}</p>
    <div class="content">
      <div class="img"></div>
      <div class="text">
        <p>You</p>
        <p>@{{ user.username }}</p>
      </div>
      <p class="points nav">{{ user.points }} pts</p>
    </div>
  </div>
</template>

<script>
export default { props: ['user', 'position'] }
</script>

<style lang="scss">
.ranking-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: em(10);

  .position {
    text-align: center;
    width: 20%;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: em(6) em(12);
    background-color: $primary-light-1;
    border-radius: em(7);
    width: 80%;

    .img {
      background-image: url(https://images.unsplash.com/photo-1607782599775-d5eeddcaed43?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI2fHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
      width: em(32);
      height: em(32);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
  }
}
</style>
