<template>
  <div class="rankings">
    <div class="top3">
      <div v-for="(user, index) in top3" class="user" :key="user.email">
        <p>{{ index + 1 }}</p>
        <p>{{ user.email }}</p>
      </div>
      <RankingList
        v-for="(user, index) in rest"
        :key="user.email"
        :user="user"
        :position="index + 4"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: ['list'],
  computed: {
    top3() {
      var topValues = [...this.list].sort().slice(0, 3)
      return topValues
    },
    rest() {
      return [...this.list].slice(3)
    },
  },
}
</script>

<style></style>
