<template>
  <div id="tab">
    <div @click="ligue" class="pill left" :class="{ active: isLigue }">
      <p class="subhead">Ma ligue</p>
    </div>
    <div @click="amis" class="pill right" :class="{ active: isAmis }">
      <p class="subhead">Mes amis</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['isAmis', 'isLigue'],
  methods: {
    ligue() {
      this.$emit('is-ligue')
    },
    amis() {
      this.$emit('is-amis')
    },
  },
}
</script>

<style lang="scss">
#tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  .pill {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: $primary-light-2;

    padding: em(12);
  }

  .left {
    position: relative;
    border-radius: em(15) 0 0 em(15);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-right: 1px solid $text;
      z-index: 0;
    }
  }

  .right {
    border-radius: 0 em(15) em(15) 0;
  }

  .active {
    background-color: $primary;
  }
}
</style>
