<template>
  <div class="top-navigation">
    <div v-if="backButton" @click="to" class="icon-container">
      <back />
    </div>
    <h3>{{ text }}</h3>
  </div>
</template>

<script>
import back from './icons/back'

export default {
  props: {
    text: String,
    backButton: { type: Boolean, default: true },
    to: Function,
  },
  components: { back },
}
</script>

<style lang="scss">
.top-navigation {
  display: flex;
  align-items: center;
  padding: em(10) em(16);
  position: relative;

  .icon-container {
    position: absolute;
    width: em(24);
    height: em(24);
  }

  h3 {
    margin: 0 auto;
    line-height: 25px;
  }
}
</style>
