<template>
  <div id="hub" class="safe-area">
    <div class="container">
      <h2>A toi de jouer {{ authUser.name }} !</h2>
      <p class="body">
        Clique sur le niveau en surbrillance et plonge toi dans le monde de
        l’algorithmique.
      </p>
      <p class="footnote">Hésite pas à zoomer si besoin !</p>
    </div>
    <Maze />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  middleware: 'auth',
  data() {
    return { page: 1 }
  },
  computed: {
    ...mapState({
      authUser: (state) => state.authUser,
    }),
  },
  methods: {
    skip() {
      this.showOnboarding = false
      this.$store.commit('SHOW_MENU', true)
    },
    nextPage() {
      this.page++
      if (this.page > 4) {
        this.skip()
      }
    },
  },
}
</script>

<style lang="scss">
#hub {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;

  .container {
    margin-bottom: em(70);
    h2 {
      text-align: left;
      margin-bottom: 20px;
    }

    .body {
      margin-bottom: em(9);
    }
  }
}
</style>
