<template>
  <div id="communaute" class="safe-area container">
    <TopNavigation text="Communauté" :back-button="false" />
    <div class="content">
      <Tab
        @is-amis="toggleAmis"
        @is-ligue="toggleLigue"
        :is-amis="isAmis"
        :is-ligue="isLigue"
      />
      <div v-show="isLigue" id="ligue">
        <h2 class="ligue-name">Ligue Bronze</h2>
        <Rankings :list="community" />
      </div>
      <div v-show="isAmis" id="amis"><Rankings :list="friends" /></div>
      <Button class="centered-btn" text="Trouver une partie" color="#ff805d" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  middleware: 'auth',
  async asyncData() {
    return {
      community: [
        { email: 'test@test.com', username: 'user', points: 450 },
        { email: 'test2@test.com', username: 'user', points: 450 },
        { email: 'test3@test.com', username: 'user', points: 300 },
        { email: 'test4@test.com', username: 'user', points: 200 },
        { email: 'test5@test.com', username: 'user', points: 150 },
      ],
    }
  },
  data() {
    return { isLigue: true, isAmis: false }
  },
  methods: {
    toggleLigue() {
      this.isLigue = true
      this.isAmis = false
    },
    toggleAmis() {
      this.isLigue = false
      this.isAmis = true
    },
  },
  computed: {
    ...mapGetters({
      friends: 'getFriends',
    }),
  },
}
</script>

<style></style>
