<template>
  <div id="home">
    <div class="home safe-area container">
      <Logo />
      <div class="cards">
        <nuxt-link to="/algo" class="algo-link link">
          <HomeCard
            id="algo-card"
            title="Algo"
            text="Parcours le labyrinthe afin de découvrir les principes de l’algorithmique"
          />
        </nuxt-link>
        <nuxt-link to="/communaute" class="communaute-link link">
          <HomeCard
            id="community-card"
            title="Communauté"
            text="Affronte tes amis et la communauté dans des défis dignent de ce nom"
          />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
}
</script>

<style lang="scss">
#home {
  height: 100%;
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;

  .home {
    position: relative;
    display: flex;
    flex-direction: column;

    .Logo {
      margin: em(50) auto;
    }

    &::before {
      position: absolute;
      display: block;
      content: ' ';
      background-image: url('~assets/svg/logo-small.svg');
      background-size: cover;
      opacity: 0.1;
      height: em(315);
      width: em(310);
      z-index: -1;

      left: em(-114);
      top: em(91);
    }

    .cards {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;

      .link {
        text-decoration: none;
        color: $text;
      }

      .algo-link {
        height: 100%;
        max-height: 50%;
      }

      #algo-card {
        position: relative;

        height: 100%;

        &::before {
          position: absolute;
          display: block;
          content: ' ';
          background-image: url('~assets/svg/maze.svg');
          background-size: cover;
          opacity: 0.3;
          height: em(148);
          width: em(148);
          z-index: 1;

          right: em(11);
          bottom: em(11);
        }
      }

      #community-card {
        position: relative;

        &::before {
          position: absolute;
          display: block;
          content: ' ';
          background-image: url('~assets/svg/amico.svg');
          background-size: cover;
          opacity: 0.3;
          height: em(121);
          width: em(117);
          z-index: 1;

          right: em(20);
          bottom: em(20);
        }
      }
    }
  }
}
</style>
