<template>
  <div id="login" class="safe-area">
    <TopNavigation text="Se connecter" :to="back" />
    <div v-if="!isLoggedIn" class="container">
      <h2>Bon retour parmis nous !</h2>
      <div class="socials-signup">
        <Button
          @click.native="socialsSignIn('google')"
          text="Se connecter avec Google"
          icon="google"
        />
        <Button
          @click.native="socialsSignIn('facebook')"
          text="Se connecter avec Facebook"
          icon="facebook"
        />
        <hr />
      </div>
      <form>
        <FormField
          label="Nom d'utilisateur"
          id="username"
          name="username"
          v-model="formData.username"
          type="text"
          placeholder="nom d'utilisateur"
          icon="moncompte"
        />

        <FormField
          label="Mot de passe"
          id="password"
          name="password"
          v-model="formData.password"
          type="password"
          placeholder="mot de passe"
          icon="password"
        />
      </form>
      <Button
        class="centered-btn"
        @click.native="signInUser"
        text="Se connecter"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'no-nav',
  computed: {
    ...mapGetters({
      isLoggedIn: 'isLoggedIn',
    }),
  },
  data: () => ({
    formData: {
      username: '',
      password: '',
    },
  }),
  methods: {
    async signInUser() {
      try {
        let username = this.formData.username
        const userRef = this.$fire.firestore
          .collection('users')
          .where('username', '==', username)
        const userDoc = await userRef.get()
        let email = userDoc.docs[0].data().email
        await this.$fire.auth.signInWithEmailAndPassword(
          email,
          this.formData.password
        )
        this.$router.push('/')
      } catch (e) {
        alert(e)
      }
    },
    async socialsSignIn(p) {
      let provider
      switch (p) {
        case 'google':
          provider = new this.$fireModule.auth.GoogleAuthProvider()
          break

        case 'facebook':
          provider = new this.$fireModule.auth.FacebookAuthProvider()
          break

        default:
          break
      }
      let authData = await this.$fire.auth.signInWithPopup(provider)
      this.$router.push('/')
    },
    back() {
      this.$router.go(-1)
    },
  },
  created() {
    if (this.isLoggedIn) {
      this.$router.push('/')
    }
  },
}
</script>

<style lang="scss">
#login {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;

  .container {
    display: flex;
    height: calc(100% - 45px);
    padding-bottom: em(50);
    padding-top: em(33);
    flex-direction: column;
    justify-content: space-between;
  }
}
</style>
