<template>
  <div id="mon-compte" class="safe-area container">
    <div class="header">
      <div class="left">
        <h1>{{ authUser.name }}</h1>
        <p v-if="authUser.username" class="footnote">
          @{{ authUser.username }}
        </p>
      </div>
      <div class="right">
        <p class="footnote">Avancement</p>
        <h3>2/7</h3>
      </div>
    </div>

    <div class="badges-container">
      <h3>Mes derniers badges</h3>
      <div class="badges"><button>Voir tous</button></div>
    </div>

    <div class="settings">
      <nuxt-link to="/">Mes informations personnelles</nuxt-link>
      <nuxt-link to="/">Paramètres</nuxt-link>
    </div>

    <Button @click.native="logout" text="Se deconnecter" class="centered-btn" />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  middleware: 'auth',
  computed: {
    ...mapState({
      authUser: (state) => state.authUser,
    }),
  },
  methods: {
    async logout() {
      await this.$fire.auth.signOut()
      this.$router.push('/login')
    },
  },
}
</script>

<style lang="scss"></style>
