<template>
  <div id="sign-up">
    <div class="safe-area">
      <TopNavigation
        v-if="page === 1"
        text="Créer un compte"
        :back-button="false"
      />
      <TopNavigation v-else text="Créer un compte" :to="previousPage" />
      <div class="container">
        <div v-if="page === 1" class="socials-signup">
          <Button
            @click.native="socialsSignIn('google')"
            text="Créer un compte avec Google"
            icon="google"
          />
          <Button
            @click.native="socialsSignIn('facebook')"
            text="Créer un compte avec Facebook"
            icon="facebook"
          />
          <hr />
        </div>
        <h2>Ou créé un compte avec ton adresse e-mail</h2>
        <form v-if="!isLoggedIn" onsubmit="return false;">
          <FormField
            v-if="page === 1"
            label="Adresse e-mail"
            id="email"
            name="email"
            v-model="formData.email"
            type="email"
            placeholder="adresse email"
            icon="message"
          />

          <div v-if="page === 2" class="name">
            <FormField
              label="Prénom"
              id="prenom"
              name="prenom"
              v-model="formData.prenom"
              type="text"
              placeholder="prénom"
              icon="moncompte"
            />
            <FormField
              label="Nom d'utilisateur"
              id="username"
              name="username"
              v-model="formData.username"
              type="text"
              placeholder="nom d'utilisateur"
              icon="moncompte"
            />
          </div>

          <div v-if="page === 3" class="password">
            <FormField
              label="Mot de passe"
              id="password"
              name="password"
              v-model="formData.password"
              type="password"
              placeholder="mot de passe"
              icon="password"
            />
            <FormField
              label="Confirmation du mot de passe"
              id="password-confirm"
              name="password-confirm"
              v-model="formData.confirm"
              type="password"
              placeholder="confirmation"
              icon="password"
            />
          </div>
        </form>
        <Button
          class="centered-btn"
          v-if="page !== 3"
          @click.native="nextPage"
          text="Suivant"
        />
        <Button
          class="centered-btn"
          @click.native="createUser"
          text="Créer mon compte"
          v-if="page === 3"
        />
        <nuxt-link to="/login" class="link">J'ai déjà un compte</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'no-nav',
  computed: {
    ...mapGetters({
      isLoggedIn: 'isLoggedIn',
    }),
  },
  data: () => ({
    formData: {
      email: '',
      password: '',
      confirm: '',
      prenom: '',
      username: '',
    },
    page: 1,
  }),
  methods: {
    async createUser() {
      if (this.formData.password === this.formData.confirm) {
        try {
          await this.$fire.auth.createUserWithEmailAndPassword(
            this.formData.email,
            this.formData.password
          )
          if (this.$fire.auth.currentUser != null) {
            this.$fire.auth.currentUser.updateProfile({
              displayName: this.formData.prenom,
            })
            const userRef = this.$fire.firestore
              .collection('users')
              .doc(this.$fire.auth.currentUser.uid)
            await userRef.set({
              email: this.$fire.auth.currentUser.email,
              username: this.formData.username,
            })
            this.$router.push('/')
          }
        } catch (e) {
          alert(e)
        }
      } else alert('Les mots de passes de correspondent pas')
    },
    async socialsSignIn(p) {
      let provider
      switch (p) {
        case 'google':
          provider = new this.$fireModule.auth.GoogleAuthProvider()
          break

        case 'facebook':
          provider = new this.$fireModule.auth.FacebookAuthProvider()
          break

        default:
          break
      }
      let authData = await this.$fire.auth.signInWithPopup(provider)
      this.$router.push('/')
    },
    nextPage() {
      this.page++
    },
    previousPage() {
      this.page--
    },
  },
  created() {
    if (this.isLoggedIn) {
      this.$router.push('/')
    }
  },
}
</script>

<style lang="scss">
#sign-up {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  height: 100%;

  .container {
    text-align: center;
    display: flex;
    height: calc(100% - 45px);
    padding-bottom: em(50);
    padding-top: em(33);
    flex-direction: column;
    justify-content: space-between;
  }
}
</style>
