<template>
  <div id="la-course" class="safe-area">
    <TopNavigation text="La course" :to="back" />
    <div class="all-container">
      <div class="game-container">
        <div class="container">
          <p class="body">
            Voila 3 variables, chacune contrôle une partie de l’algorithme.
            Modifie ses valeurs et regarde le resultat en appuyant sur le
            bouton.
          </p>
          <div class="game">
            <Variable v-model="vAlgo" position="first" varName="vAlgo" />
            <Variable
              v-model="vAdversaire"
              position="middle"
              varName="vAdversaire"
            />
            <Variable v-model="distance" position="last" varName="distance" />
          </div>
          <p>Oublie pas !<br />Algo doit gagner la course.</p>
        </div>
      </div>
      <Button
        @click.native="playGame"
        class="play-game"
        text="Lancer"
        color="#266841"
        icon="play"
        icon-color="#f6fdfe"
      />
      <Modal
        v-if="success"
        v-model="modalOpen"
        :success="success"
        icon="var-win"
        title="Bravo !"
        :text="text"
        closeColor="#ffcc7b"
        backgroundColor="#fff3e0"
      />
      <Modal
        v-else
        v-model="modalOpen"
        :success="success"
        icon="var-error"
        title="Ouch !"
        text="Son adversaire a gagné la course de peu."
        closeColor="#ffcc7b"
        backgroundColor="#fff3e0"
      />
    </div>
  </div>
</template>

<script>
export default {
  layout: 'no-nav',
  data: () => ({
    vAlgo: 25,
    vAdversaire: 80,
    distance: 200,
    text: '',
    success: false,
    modalOpen: false,
  }),
  methods: {
    playGame() {
      this.success = false
      if (Number(this.vAlgo) > Number(this.vAdversaire)) {
        this.success = true
        this.text = `Algo a gagné la course, il avait une
      vitesse de ${this.vAlgo} m/s. Maintenant, place aux conditions !`
      }
      this.modalOpen = !this.modalOpen
      return true
    },
    back() {
      this.$router.go(-1)
    },
  },
}
</script>

<style lang="scss">
#la-course {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  background: $warning-light-1;
  padding-bottom: 0;

  .onboarding {
    height: calc(100% - 45px);
  }

  .all-container {
    padding-bottom: env(safe-area-inset-bottom);
    background: $warning-light-2;
    height: calc(100% - 45px);
    text-align: center;
    position: relative;

    .game-container {
      height: 90%;
      background: $warning-light-1;
      border-radius: 0 0 40px 40px;

      .container {
        display: flex;
        height: 100%;
        padding-bottom: em(50);
        padding-top: em(33);
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
</style>
