<template>
  <div id="labyrinthe" class="safe-area">
    <TopNavigation text="Le labyrinthe" :to="back" />
    <div class="all-container">
      <div class="game-container">
        <div class="container">
          <div class="instructions">
            <IconsLabyrintheInstructions />
            <p class="body">
              Chaque condition s’effectue a l’intersection suivante
            </p>
          </div>
          <div class="game">
            <Action position="first" text="Algo avance" />
            <Condition
              v-model="value1"
              condition="if-start"
              position="middle"
            />
            <Action position="middle" text="Algo est sur le bon chemin" />
            <Condition
              v-model="value2"
              position="middle"
              condition="if-start"
            />
            <Action position="middle" text="Algo est sur le bon chemin" />
            <Condition position="middle" condition="else" />
            <Action position="middle" text="Algo est perdu !" />
            <Condition position="middle" condition="end-if" />
            <Condition position="middle" condition="else" />
            <Action position="middle" text="Algo est perdu !" />
            <Condition position="last" condition="end-if" />
          </div>
        </div>
      </div>
      <div class="button-container">
        <Button
          @click.native="playGame"
          class="play-game"
          text="Lancer"
          color="#266841"
          icon="play"
          icon-color="#f6fdfe"
        />
      </div>
      <Modal
        v-if="success"
        v-model="modalOpen"
        :success="success"
        icon="lab-win"
        title="Bravo !"
        text="Algo a récupérer son trophée au centre du labyrinthe"
        closeColor="#61c589"
        backgroundColor="#f8fcf9"
      />
      <Modal
        v-else
        v-model="modalOpen"
        :success="success"
        icon="lab-error"
        title="Ouch !"
        text="Algo n’a pas su retrouver son chemin"
        closeColor="#61c589"
        backgroundColor="#f8fcf9"
      />
    </div>
  </div>
</template>

<script>
export default {
  layout: 'no-nav',
  data: () => ({
    value1: 'Droite',
    value2: 'Gauche',
    success: false,
    modalOpen: false,
  }),
  methods: {
    playGame() {
      if (
        this.value1.toUpperCase() === 'GAUCHE' &&
        this.value2.toUpperCase() === 'DROITE'
      ) {
        this.success = true
      }
      this.modalOpen = !this.modalOpen
      return true
    },
    back() {
      this.$router.go(-1)
    },
  },
}
</script>

<style lang="scss">
#labyrinthe {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  background: $success-light-2;
  padding-bottom: 0;

  .onboarding {
    height: calc(100% - 45px);
  }

  .all-container {
    padding-bottom: env(safe-area-inset-bottom);
    background: $success-light-2;
    height: calc(100% - 45px);
    text-align: center;
    position: relative;

    .game-container {
      height: 100%;
      padding-bottom: 100px;

      .container {
        display: flex;
        height: 100%;
        padding-top: em(33);
        flex-direction: column;
        justify-content: space-between;

        .instructions {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .body {
            width: 50%;
          }
        }

        .game {
          margin-top: em(25);
          overflow: auto;
        }
      }
    }

    .button-container {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-top: 22px;
      padding-bottom: calc(env(safe-area-inset-bottom) + 35px);
      background: $success-light-1;
      border-radius: 40px 40px 0 0;

      .btn.play-game {
        margin-top: 0;
      }
    }
  }
}
</style>
