<template>
  <div id="sport" class="safe-area">
    <TopNavigation text="Le sport" :to="back" />
    <div class="all-container">
      <div class="game-container">
        <div class="container">
          <div class="instructions">
            <IconsSportInstructions />
            <IconsSportResult />
          </div>
          <div class="game">
            <Variable v-model="sport" position="first" varName="sport" />

            <Condition
              v-model="sport"
              condition="switch-start"
              position="middle"
            />

            <Condition value="Football" position="middle" condition="case" />
            <Action position="middle" text="Algo augmente sa force de frappe" />
            <Condition value="Danse" position="middle" condition="case" />
            <Action position="middle" text="Algo augmente son agilité" />
            <Condition value="Boxe" position="middle" condition="case" />
            <Action position="middle" text="Algo améliore son cardio" />
            <Condition value="Tennis" position="middle" condition="case" />
            <Action position="middle" text="Algo améliore son coup droit" />
            <Condition value="Tir à l'arc" position="middle" condition="case" />
            <Action position="middle" text="Algo améliore sa précision" />

            <Condition position="last" condition="end-switch" />
          </div>
        </div>
      </div>
      <div class="button-container">
        <Button
          @click.native="playGame"
          class="play-game"
          text="Lancer"
          color="#266841"
          icon="play"
          icon-color="#f6fdfe"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'no-nav',
  data: () => ({
    sport: 'sport',
    case1: '',
    success: false,
  }),
  methods: {
    playGame() {
      return true
    },
    back() {
      this.$router.go(-1)
    },
  },
}
</script>

<style lang="scss">
#sport {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  background: $success-light-2;
  padding-bottom: 0;

  .onboarding {
    height: calc(100% - 45px);
  }

  .all-container {
    padding-bottom: env(safe-area-inset-bottom);
    background: $success-light-2;
    height: calc(100% - 45px);
    text-align: center;
    position: relative;

    .container {
      display: flex;
      height: 100%;
      padding-top: em(33);
      flex-direction: column;
      justify-content: space-between;

      .instructions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .body {
          width: 50%;
        }
      }

      .game {
        margin-top: em(25);
        overflow: auto;
      }
    }

    .game-container {
      height: 100%;
      padding-bottom: 100px;
    }

    .button-container {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-top: 22px;
      padding-bottom: calc(env(safe-area-inset-bottom) + 35px);
      background: $success-light-1;
      border-radius: 40px 40px 0 0;

      .btn.play-game {
        margin-top: 0;
      }
    }
  }
}
</style>
